.question-card {
  padding: 20px;
  border-radius: 2%;
  background: #3a3a3a;
  margin-bottom: 10px;
  width: 100%;
}

.question-card-header {
  font-weight: 900;
  display: flex;
  align-items: center;
}

.question-card-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

.question-card p {
  margin-bottom: 0;
}